inputStyl()
  box-sizing: border-box
  border: 1px solid $borderColor
  padding: 10px
  margin-bottom: 15px
submitBtn()
  background: $bgColor
  width: 100px;
  float: right
  color: #fff
  text-align: center
  padding: 10px 0
  cursor: pointer
ellipsis() 
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis